In [1]:
import os
os.chdir("..")

table = """
| Year | Competition | Venue | Position | Event | Notes |
| 2000 | World Junior Championships | Santiago, Chile | 1st | Discus throw | 59.51 m |
| 2003 | All-Africa Games | Abuja, Nigeria | 5th | Shot put | 17.76 m |
| 2003 | All-Africa Games | Abuja, Nigeria | 2nd | Discus throw | 62.86 m |
| 2004 | African Championships | Brazzaville, Republic of the Congo | 2nd | Discus throw | 63.50 m |
| 2004 | Olympic Games | Athens, Greece | 8th | Discus throw | 62.58 m |
| 2006 | Commonwealth Games | Melbourne, Australia | 7th | Shot put | 18.44 m |
| 2006 | Commonwealth Games | Melbourne, Australia | 4th | Discus throw | 60.99 m |
| 2007 | All-Africa Games | Algiers, Algeria | 3rd | Discus throw | 57.79 m |
| 2008 | African Championships | Addis Ababa, Ethiopia | 2nd | Discus throw | 56.98 m |
"""

title = "Hannes Hopley"
question = "What is the average distance of the discus throw for Hannes Hopley? (in meters, rounded to 2 decimal places)"

answer = (59.51 + 62.86 + 63.50 + 62.58 + 60.99 + 57.79 + 56.98) / 7
answer = f"{answer:.2f}"

answer

'60.60'

In [2]:
from utils.execute import markdown_to_df

df = markdown_to_df(table)

df

,Year,Competition,Venue,Position,Event,Notes
0,2000,World Junior Championships,"Santiago, Chile",1st,Discus throw,59.51 m
1,2003,All-Africa Games,"Abuja, Nigeria",5th,Shot put,17.76 m
2,2003,All-Africa Games,"Abuja, Nigeria",2nd,Discus throw,62.86 m
3,2004,African Championships,"Brazzaville, Republic of the Congo",2nd,Discus throw,63.50 m
4,2004,Olympic Games,"Athens, Greece",8th,Discus throw,62.58 m
5,2006,Commonwealth Games,"Melbourne, Australia",7th,Shot put,18.44 m
6,2006,Commonwealth Games,"Melbourne, Australia",4th,Discus throw,60.99 m
7,2007,All-Africa Games,"Algiers, Algeria",3rd,Discus throw,57.79 m
8,2008,African Championships,"Addis Ababa, Ethiopia",2nd,Discus throw,56.98 m

In [3]:
from agent import Model

# set openai api key
os.environ["OPENAI_API_KEY"] = "sk-xxx"

# openai model
model = Model(model_name="gpt-3.5-turbo-0613", provider="openai")
long_model = Model(model_name="gpt-3.5-turbo-16k-0613", provider="openai")

/data/tianyang/anaconda3/envs/table/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2023-12-29 01:28:22,287	INFO util.py:159 -- Missing packages: ['ipywidgets']. Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.
2023-12-29 01:28:22,369	INFO util.py:159 -- Missing packages: ['ipywidgets']. Run `pip install -U ipywidgets`, then restart the notebook server for rich notebook output.

In [4]:
from agent import TableAgent

agent = TableAgent(
    table=df,
    prompt_type="wtq", # since we are trying to answer a question, we use wtq
    model=model,
    long_model=long_model,
    temperature=0.0, # no randomness
    use_full_table=True, # do not omit any rows
    print_process=True, # print the process
)

In [5]:
# now we can run the agent
text, _ = agent.run(question=question, title=title)

==================================================
You are working with a pandas dataframe in Python. The name of the dataframe is `df`. Your task is to use `python_repl_ast` to answer the question posed to you.

Tool description:
- `python_repl_ast`: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes the output is abbreviated - ensure it does not appear abbreviated before using it in your answer.

Guidelines:
- **Aggregated Rows**: Be cautious of rows that aggregate data such as 'total', 'sum', or 'average'. Ensure these rows do not influence your results inappropriately.
- **Data Verification**: Before concluding the final answer, always verify that your observations align with the original table and question.

Strictly follow the given format to respond:

Question: the input question you must answer
Thought: you should always think about what to do to interact with `python_repl_ast`
Action: can **ONLY** be `python_repl_ast`
Action Input: the input code to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: after verifying the table, observations, and the question, I am confident in the final answer
Final Answer: the final answer to the original input question (AnswerName1, AnswerName2...)

Notes for final answer:
- Ensure the final answer format is only "Final Answer: AnswerName1, AnswerName2..." form, no other form.
- Ensure the final answer is a number or entity names, as short as possible, without any explanation.
- Ensure to have a concluding thought that verifies the table, observations and the question before giving the final answer.

You are provided with a table regarding "Hannes Hopley". This is the result of `print(df.to_markdown())`:

|    |   Year | Competition                | Venue                              | Position   | Event        | Notes   |
|---:|-------:|:---------------------------|:-----------------------------------|:-----------|:-------------|:--------|
|  0 |   2000 | World Junior Championships | Santiago, Chile                    | 1st        | Discus throw | 59.51 m |
|  1 |   2003 | All-Africa Games           | Abuja, Nigeria                     | 5th        | Shot put     | 17.76 m |
|  2 |   2003 | All-Africa Games           | Abuja, Nigeria                     | 2nd        | Discus throw | 62.86 m |
|  3 |   2004 | African Championships      | Brazzaville, Republic of the Congo | 2nd        | Discus throw | 63.50 m |
|  4 |   2004 | Olympic Games              | Athens, Greece                     | 8th        | Discus throw | 62.58 m |
|  5 |   2006 | Commonwealth Games         | Melbourne, Australia               | 7th        | Shot put     | 18.44 m |
|  6 |   2006 | Commonwealth Games         | Melbourne, Australia               | 4th        | Discus throw | 60.99 m |
|  7 |   2007 | All-Africa Games           | Algiers, Algeria                   | 3rd        | Discus throw | 57.79 m |
|  8 |   2008 | African Championships      | Addis Ababa, Ethiopia              | 2nd        | Discus throw | 56.98 m |

**Note**: All cells in the table should be considered as `object` data type, regardless of their appearance.

Begin!
Question: What is the average distance of the discus throw for Hannes Hopley? (in meters, rounded to 2 decimal places)
Thought: To find the average distance of the discus throw for Hannes Hopley, I need to filter the dataframe for rows where the Event is "Discus throw" and then calculate the average of the "Notes" column.

Action: Filter the dataframe and calculate the average distance.

Action Input: `df[df['Event'] == 'Discus throw']['Notes'].astype(float).mean()`

Observation: ValueError: could not convert string to float: '59.51 m'

Thought: It seems that the "Notes" column contains values with the unit "m" attached to them. I need to remove the "m" from the values before converting them to float.

Action: Remove the "m" from the values in the "Notes" column and calculate the average distance.

Action Input: `df[df['Event'] == 'Discus throw']['Notes'].str.replace(' m', '').astype(float).mean()`

Observation: 60.60142857142858

Final Answer: 60.60

In [6]:
from utils.eval import extract_answer, eval_ex_match

# extract the answer from the text
pred = extract_answer(text)

pred

'60.60'

In [7]:
eval_ex_match(pred, answer)

True